In [2]:
pip install pandas --upgrade pip

Requirement already satisfied: pandas in c:\users\analisis de datos\appdata\local\programs\python\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pip in c:\users\analisis de datos\appdata\local\programs\python\python312\lib\site-packages (24.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\analisis de datos\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\analisis de datos\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\analisis de datos\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\analisis de datos\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\analisis de datos\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [11]:
data = {
    "Nombre":["Adrian","Josue","Carlos","Mango"],
    "Fruta":["Piña","Coco","Mora","Mango"]
}

data

{'Nombre': ['Adrian', 'Josue', 'Carlos', 'Mango'],
 'Fruta': ['Piña', 'Coco', 'Mora', 'Mango']}

In [13]:
compras = pd.DataFrame(data, index=["1","2","3","4"])

compras

   Nombre  Fruta
1  Adrian   Piña
2   Josue   Coco
3  Carlos   Mora
4   Mango  Mango

In [20]:
data2 = {
    "Nombres" : ["Josue","Carlos","Richard","Gabo","Anthony"],
    "Cedula":["12345","21345","31245","41235","51234"],
    "Telefono":["0987654321","0987654322","0987654323","0987654324","0987654325"],
    "Signo":["Escorpio","Leo","Virgo","Cancer","Aries"],
    "Direccion":["Quitumbe","Bicentenario","CardelYork","Shiris","Joinville"]
}

data2

{'Nombres': ['Josue', 'Carlos', 'Richard', 'Gabo', 'Anthony'],
 'Cedula': ['12345', '21345', '31245', '41235', '51234'],
 'Telefono': ['0987654321',
  '0987654322',
  '0987654323',
  '0987654324',
  '0987654325'],
 'Signo': ['Escorpio', 'Leo', 'Virgo', 'Cancer', 'Aries'],
 'Direccion': ['Quitumbe',
  'Bicentenario',
  'CardelYork',
  'Shiris',
  'Joinville']}

In [22]:
agenda = pd.DataFrame(data2, index=["1","2","3","4","5"])

agenda

   Nombres Cedula    Telefono     Signo     Direccion
1    Josue  12345  0987654321  Escorpio      Quitumbe
2   Carlos  21345  0987654322       Leo  Bicentenario
3  Richard  31245  0987654323     Virgo    CardelYork
4     Gabo  41235  0987654324    Cancer        Shiris
5  Anthony  51234  0987654325     Aries     Joinville

In [27]:
compras.to_csv("compras.csv")

In [29]:
agenda.to_csv("agenda.csv")

In [31]:
compras.to_json("compras.json")

In [33]:
agenda.to_json("agenda.json")

In [37]:
fd = pd.read_csv("agenda.csv", index_col=0)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 207: invalid continuation byte

In [36]:
df = pd.read_json("agenda.json")

df

   Nombres  Cedula   Telefono     Signo     Direccion
1    Josue   12345  987654321  Escorpio      Quitumbe
2   Carlos   21345  987654322       Leo  Bicentenario
3  Richard   31245  987654323     Virgo    CardelYork
4     Gabo   41235  987654324    Cancer      Iñaquito
5   3lkite   51234  987654325     Aries     Joinville